nav ul li.button.v17:hover .icon:before, nav ul li.button.v17:hover span.icon:after 
{
  width: 100%;
}
nav ul li.button.v17:hover .icon span:before, nav ul li.button.v17:hover span.icon span:after 
{
  height: 100%;
}
nav ul li.button.v17:hover span.icon2 
{
  transform: skew(-40deg, 0deg) scale(1);
  background: #f0202f;
  z-index: -1;
}
nav ul li.button.v17 span.label 
{
  padding: 10px 22px;
}
nav ul li.button.v17 span.icon2 
{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: skew(-40deg, 0deg) scaleX(0.2) scaleY(0.5);
  transition: all 0.2s;
  transition-delay: 0.2s;
}
nav ul li.button.v17 span.icon 
{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: skew(-40deg, 0deg);
  transition: all 0.2s;
}
nav ul li.button.v17 .icon:before, nav ul li.button.v17 span.icon:after 
{
  content: "";
  height: 1px;
  width: 30px;
  position: absolute;
  display: block;
  background: #f0202f;
  transition: all 0.2s;
  transition-delay: 0.2s;
}
nav ul li.button.v17 span.icon:before 
{
  left: 0;
  top: 0;
}
nav ul li.button.v17 span.icon:after 
{
  right: 0;
  bottom: 0;
}
nav ul li.button.v17 span.icon span:before, nav ul li.button.v17 span.icon span:after 
{
  content: "";
  background: #f0202f;
  position: absolute;
  display: block;
  width: 2px;
  height: 30px;
  transition: all 0.2s;
  transition-delay: 0.2s;
}
nav ul li.button.v17 span.icon span:before 
{
  left: 0;
  top: 0;
}
nav ul li.button.v17 span.icon span:after 
{
  right: 0;
  bottom: 0;
}